<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top scores on #{{ channel_name|escape }}</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tablesorter@2.30.1/dist/js/jquery.tablesorter.combined.min.js"></script>

    <meta property="og:title"
          content="#{{ channel_name|escape }} top scores" />
    <meta property="og:type"
          content="website" />
    <meta property="og:description"
          content="Where the best players of #{{ channel_name|escape }} meet." />
    <meta property="og:site_name"
          content="DuckHunt" />


    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
          crossorigin="anonymous">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tablesorter@2.30.1/dist/css/theme.default.min.css">

    <style>
        .statistic {
            border-bottom-width: 1px;
            border-bottom-style: dotted;
            border-bottom-color: #666;
        }

        .graph {
            display: block;
            background: #E6E7ED;
            border-radius: 3px;
            margin: auto;
            padding: 10px;
        }

        .profile_picture {
            background: #E6E7ED;
            border-radius: 50%;
            margin: auto;
            padding: 5px;
            width: 100%;
            max-width: 32px;
        }

        table {
            counter-reset: rowNumber -1;
        }

        table tr {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before {
            content: counter(rowNumber) ;
            min-width: 1em;
            margin-right: 0.5em;
        }


        h1 {
            text-align: center;
        }

        html {
            background: rgba(0, 0, 0, 0.04);
            max-width: 100%;
        }
        
        a:link, a:visited {
            color: #70ACE9;
            text-decoration: none;
        }

        a:hover, a:active {
            color: #8AC7FF;
            text-decoration: none;
        }
    </style>


</head>
<body>

<script>
    function imgError(image) {
        image.onerror = "";
        image.src = "https://discordapp.com/assets/dd4dbc0016779df1378e7812eabaa04d.png";
        return true;
    }
</script>


<h1>DuckHunt TopScores for #{{ channel_name | escape }}</h1>

<h2>Summary</h2>

<p>
    DuckHunt is tracking hunter statistics for <span class="statistic">{{ players|length }}</span> players in <span class="statistic">#{{ channel_name | escape }}</span>
</p>

<h3>Best hunters ranked by exp</h3>

<div id="exp_graph"
     class="graph"></div>

<script>

    Highcharts.chart('exp_graph', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top 100 Players sorted by total experience (log scale)'
        },
        subtitle: {
            text: 'Generated {{ "now"|date }}'
        },
        xAxis: {
            type: 'category',
            labels: {
                enabled:false,
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            type: 'logarithmic',
            min: 1,
            title: {
                text: 'Experience points'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{point.name} has {point.y} exp'
        },
        series: [{
            name: 'Hunters',
            data: [
                {% for player in players|slice(0, 100)%}
                    {% if player.exp > 1 %}
                {
                    'name' : '{{ player.name|escape('js') }}',
                    'y' : {{ player.exp }},
                    'url': 'duckstats.php?cid={{ channel_id }}&pid={{ player.id_ }}'
                },

                    {% endif %}
                {% endfor %}
            ],
            dataLabels: {
                enabled: false
            },
            point: {
                events: {
                    click: function () {
                        location.href =     this.options.url;
                    }
                }
            }

        }]
    });
</script>

<h3>Kind of ducks killed on #{{ channel_name | escape }}</h3>

<div id="ducks_graph"
     class="graph"></div>

<script>

    // Create the chart
    Highcharts.chart('ducks_graph', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Types of ducks killed in #{{ channel_name | escape }}'
        },
        subtitle: {
            text: 'Click the columns to view hunters. Generated {{ "now"|date }}'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total number of ducks killed'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y} total'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> {point.name} killed<br/>'
        },

        "series": [
            {
                "name": "Ducks killed",
                "colorByPoint": true,
                "data": [
                    {
                        "name": "Normal Ducks",
                        "y": {{ total_normal_ducks }},
                        "drilldown": "ducks"
                    },
                    {
                        "name": "Super Ducks",
                        "y": {{ total_super_ducks }},
                        "drilldown": "super_ducks"
                    },
                    {
                        "name": "Baby Ducks",
                        "y": {{ total_baby_ducks }},
                        "drilldown": "baby_ducks"
                    },
                    {
                        "name": "MOAD",
                        "y": {{ total_moad_ducks }},
                        "drilldown": "mother_of_all_ducks"
                    },
                    {
                        "name": "Mechanical Ducks",
                        "y": {{ total_mechanical_ducks }},
                        "drilldown": "mechanical_ducks"
                    },
                    {
                        "name": "Players (oops)",
                        "y": {{ total_players_killed }},
                        "drilldown": "players_killed"
                    }
                ]
            }
        ],
        "drilldown": {
            "series": [
                {
                    "name": "Normal Ducks",
                    "id": "ducks",
                    "data": [
                        {% for player in (players | sortbyfield('killed_normal_ducks', 'desc'))| slice(0, 20)  %}
                        {% if player.killed_normal_ducks > 0 %}
                        {'name' : "{{ player.name|escape('js') }}",
                            'y'    : {{ player.killed_normal_ducks }},
                            'url'  : "duckstats.php?cid={{ channel_id }}&pid={{ player.id_ }}"
                        },
                        {% endif %}
                        {% endfor %}

                    ],
                    "events": {
                        click: function (e) {
                            location.href = e.point.url;
                        }
                    }
                },
                {
                    "name": "Super Ducks",
                    "id": "super_ducks",
                    "data": [
                        {% for player in (players | sortbyfield('killed_super_ducks', 'desc'))| slice(0, 20)  %}
                        {% if player.killed_super_ducks > 0 %}
                        {'name' : "{{ player.name|escape('js') }}",
                            'y'    : {{ player.killed_super_ducks }},
                            'url'  : "duckstats.php?cid={{ channel_id }}&pid={{ player.id_ }}"
                        },
                        {% endif %}
                        {% endfor %}

                    ],
                    "events": {
                        click: function (e) {
                            location.href = e.point.url;
                        }
                    }
                },
                {
                    "name": "Baby Ducks",
                    "id": "baby_ducks",
                    "data": [
                        {% for player in (players | sortbyfield('killed_baby_ducks', 'desc'))| slice(0, 20)  %}
                        {% if player.killed_baby_ducks > 0 %}
                        {'name' : "{{ player.name|escape('js') }}",
                            'y'    : {{ player.killed_baby_ducks }},
                            'url'  : "duckstats.php?cid={{ channel_id }}&pid={{ player.id_ }}"
                        },
                        {% endif %}
                        {% endfor %}

                    ],
                    "events": {
                        click: function (e) {
                            location.href = e.point.url;
                        }
                    }
                },
                {
                    "name": "Mother Of All Ducks",
                    "id": "mother_of_all_ducks",
                    "data": [
                        {% for player in (players | sortbyfield('killed_mother_of_all_ducks', 'desc'))| slice(0, 20)  %}
                        {% if player.killed_mother_of_all_ducks > 0 %}
                        {'name' : "{{ player.name|escape('js') }}",
                            'y'    : {{ player.killed_mother_of_all_ducks }},
                            'url'  : "duckstats.php?cid={{ channel_id }}&pid={{ player.id_ }}"
                        },
                        {% endif %}
                        {% endfor %}

                    ],
                    "events": {
                        click: function (e) {
                            location.href = e.point.url;
                        }
                    }
                },
                {
                    "name": "Mechanical Ducks",
                    "id": "mechanical_ducks",
                    "data": [
                        {% for player in (players | sortbyfield('killed_mechanical_ducks', 'desc'))| slice(0, 20)  %}
                        {% if player.killed_mechanical_ducks > 0 %}
                        {'name' : "{{ player.name|escape('js') }}",
                            'y'    : {{ player.killed_mechanical_ducks }},
                            'url'  : "duckstats.php?cid={{ channel_id }}&pid={{ player.id_ }}"
                        },
                        {% endif %}
                        {% endfor %}

                    ],
                    "events": {
                        click: function (e) {
                            location.href = e.point.url;
                        }
                    }

                },
                {
                    "name": "Players (Oops!)",
                    "id": "players_killed",
                    "data": [
                        {% for player in (players | sortbyfield('killed_players', 'desc'))| slice(0, 20)  %}
                        {% if player.killed_players > 0 %}
                        {'name' : "{{ player.name|escape('js') }}",
                         'y'    : {{ player.killed_players }},
                         'url'  : "duckstats.php?cid={{ channel_id }}&pid={{ player.id_ }}"
                        },
                        {% endif %}
                        {% endfor %}

                    ],
                    "events": {
                        click: function (e) {
                            location.href = e.point.url;
                        }
                    }

                }

                ]

        }
    });
</script>


<h2>Raw scores</h2>

<table id="top_table"
       class="tablesorter">
    <thead>
    <tr>
        <th>Name</th>
        <th>Exp</th>
        <th>Ducks Killed</th>
        <th>Ratio (exp/ducks_killed)</th>
        <th>Super Ducks Killed</th>
        <th>Shots fired</th>
        <th>Best time</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
        <tr>
            <td><img align="center" class="profile_picture" src="{{ player.avatar_url|replace({'?size=1024': '?size=64'}) }}" onerror="imgError(this);"/> &nbsp  <a href="duckstats.php?cid={{ channel_id }}&pid={{ player.id_ }}">{{ player.name|escape }}</a></td>
            <td>{{ player.exp }}</td>
            <td>{{ player.killed_ducks }}</td>
            <td>{{ (player.exp and player.killed_ducks ? player.exp / player.killed_ducks : 0)| number_format(2, '.', ',') }}</td>
            <td>{{ player.killed_super_ducks }}</td>
            <td>{{ player.shoots_fired }}</td>
            <td>{{ player.best_time| number_format(3, '.', ',') }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(function () {
        $("#top_table").tablesorter();
    });
</script>
</body>
</html>
